::ng-deep .p-dropdown-items {
  max-width: 100vw !important;
  overflow-x: auto !important;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
@media (max-width: 768px) {
  ::ng-deep .p-dropdown {
    width: 100% !important;
  }

  ::ng-deep .p-dropdown-items {
    font-size: 14px;
  }
}