.error-image {
    max-width: 720px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.error-image h1 {
    font-size: 120px;
    margin: 48px auto 20px;
}

.error-msg-container {
    margin: 18px auto 30px auto;
    max-width: 800px;
    width: 80%;
    text-align: center;
}

.error-msg-container h1 {
    font-size: 56px;
    margin: auto auto 48px;
}