<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2>500 - Internal Server Error!!</h2>
        <p>Sorry, this is not working properly, We now know about this mistake and are working to fix it.</p>
        <p>
            In the meantime, here is what you can do:
        </p>
        <div>
            <ul>
                <li>Refresh the page(sometimes this helps)</li>
                <li>Try again in 5 mins.</li>
                <li>Email us at itsupports&#64;sbu.ac.in and tell us what happend.</li>
            </ul>
        </div>
        <a href="#">Go To Homepage</a>
    </div>
</div>