<div class="col-12">
    <div *ngFor="let familyArray of tableArrayFamilyDetailsList">
        <br>
        <p-table #dt2 [value]="familyArray" [rowHover]="true" dataKey="id" autoLayout="true" resizableColumns="true"
            styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-lg">
            <ng-template pTemplate="caption">
                <h5 style="margin: 0;">{{familyArray[0].col2}} Details</h5>
            </ng-template>
            <ng-template pTemplate="body" let-family>
                <tr>
                    <td style="width: 12.5%; padding: 8px !important;">
                        {{family?.col1}}
                    </td>
                    <td style="width: 12.5%;">
                        <b>{{family?.col2}}</b>
                    </td>
                    <td style="width: 12.5%;">
                        {{family?.col3}}
                    </td>
                    <td style="width: 12.5%;">
                        <b>{{family?.col4}}</b>
                    </td>
                    <td style="width: 12.5%;">
                        {{family?.col5}}
                    </td>
                    <td style="width: 12.5%;">
                        <b>{{family?.col6}}</b>
                    </td>
                    <td style="width: 12.5%;">
                        {{family?.col7}}
                    </td>
                    <td style="width: 12.5%;">
                        <b>{{family?.col8}}</b>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-end">
                    <button pButton type="button" icon="pi pi-refresh" label="Reload" class="p-button-text p-0"
                        (click)="refresh()"></button>
                </div>
            </ng-template>
        </p-table>
    </div>
</div>