<div class="p-pb-6">
    <div class="grid">
        <div class="col-12">
            <div class="card" style="color: red; font-size: 18px; font-weight: bold;">
                <marquee>
                    📚 Please complete your Semester Registration for ODD 2026-27 in order to be eligible for attendance
                    in your
                    classrooms.
                    &nbsp;&nbsp;🔹&nbsp;&nbsp;
                    🎓 75% Attendance is mandatory in each subject for appearing in Semester Examinations.
                    &nbsp;&nbsp;🔹&nbsp;&nbsp;
                    ⚠️ Students with outstanding fees must clear their dues at the earliest; otherwise, they will not be
                    permitted to
                    appear in MID or END SEM examinations.
                </marquee>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <p-menubar [model]="items"></p-menubar>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>