<div class="col-12">
    <p-tabs [value]="activeIndexValue" (valueChange)="handleChange($event)">
        <p-tablist>
            <p-tab value="0"><i class="pi pi-calendar mr-2"></i>Details</p-tab>
            <p-tab value="1"><i class="pi pi-copy mr-2"></i>Academics Report</p-tab>
            <p-tab value="2"><i class="pi pi-copy mr-2"></i>Examination</p-tab>
            <p-tab value="3"><i class="pi pi-ban mr-2"></i>Backlog History</p-tab>
            <p-tab value="4"><i class="pi pi-ban mr-2"></i>Accounts</p-tab>
            <p-tab value="5"><i class="pi pi-ban mr-2"></i>Services</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0"></p-tabpanel>
            <p-tabpanel value="1"></p-tabpanel>
            <p-tabpanel value="2"></p-tabpanel>
            <p-tabpanel value="3"></p-tabpanel>
            <p-tabpanel value="4"></p-tabpanel>
            <p-tabpanel value="5"></p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>