@if(!data){
    <span class="text-blue-500 block white-space-nowrap"><p-skeleton width="7rem" /></span><br>
    <span class="text-blue-500 block text-4xl font-bold"><p-skeleton width="15rem" height="1.5rem" /></span>
}
@else {
    <span class="text-blue-500 block white-space-nowrap mb-1"><p-skeleton width="7rem" height="1.2rem"/></span>
    <span class="text-blue-500 block text-4xl font-bold mb-1"><p-skeleton width="15rem" height="1.3rem"/></span>
    <span class="text-blue-500 block text-xl font-semibold mb-1"><p-skeleton width="7rem" height="1.2rem"/></span>
}