@if (!data) {
<span class="text-blue-500 dark:text-blue-400 block whitespace-nowrap mb-2">
    <p-skeleton width="7rem"></p-skeleton>
</span>
<span class="text-blue-500 dark:text-blue-400 block text-4xl font-bold">
    <p-skeleton width="15rem" height="1.5rem"></p-skeleton>
</span>
} @else {
<span class="text-blue-500 dark:text-blue-400 block whitespace-nowrap mb-1">
    <p-skeleton width="7rem" height="1.2rem"></p-skeleton>
</span>
<span class="text-blue-500 dark:text-blue-400 block text-4xl font-bold mb-1">
    <p-skeleton width="15rem" height="1.3rem"></p-skeleton>
</span>
<span class="text-blue-500 dark:text-blue-400 block text-xl font-semibold mb-1">
    <p-skeleton width="7rem" height="1.2rem"></p-skeleton>
</span>
}